# Byte-compiled / optimized / DLL files
__pycache__/

.vscode/


test.py
GalleryMan/assets/processed_image.png
GalleryMan/data/*

galleryman.status

config.ini

lolcat.py

pinnedBackup.py

*.png

*.jpg

*.gif